<%- include('../includes/head.ejs') %>
    <title><%= docTitle %></title>
    <link rel="stylesheet" href="/css/main.css"> <!-- we don't need to provide full path because express provide public directory using "express.static(path.join(__dirname, 'public')" -->
</head>
<body>
    <%- include('../includes/navigation.ejs')%>
    <main>
        <h1><%= product.title %></h1>
        <h1><%= product.price %></h1>
        <p><%= product.description %></p>
    </main>
    <%- include('../includes/add-to-cart.ejs', { product: product }) %>
<%- include('../includes/end.ejs') %>